{% extends "encyclopedia/layout.html" %}

{% block title %}
    {{title}}
{% endblock %}

{% block body %}
<form action="{% url 'editpage' %}" method="POST">
    {% csrf_token %}
    <div class="mt-4">
        <label for="title">Title: </label>
        <textarea class="form-control" id="title" rows="1" name="title">{{title}}</textarea>
    </div>
    <div class="form-group mt-4">
        <label for="info">Markdown Text: </label>
        <textarea class="form-control" id="info" rows="22" name="mdtxt">{{mdtxt}}</textarea>
    </div>
    <input type="submit">
</form>

{% endblock %}