{% extends "encyclopedia/layout.html" %}

{% block title %}
    New Entry
{% endblock %}

{% block body %}
<form action="{% url 'newpage' %}" method="POST">
    {% csrf_token %}
    <div class="mt-4">
        <label for="title">Title: </label>
        <input type="text" name="title" id="title">
    </div>
    <div class="form-group mt-4">
        <label for="info">Markdown Text: </label>
        <textarea class="form-control" id="info" rows="22" name="mdtxt"></textarea>
    </div>
    <input type="submit">
</form>
{% endblock %}